In [1]:
#we are using pandas for data manipulation. It is a powerful library for handling structured data. Otherwise,
#  we would have to write a lot of code! .
import pandas as pd

In [2]:
#Here we are creating a dataframe for the year 2023
#We can consider the dataframe (df_2023) as a table where all the data from Geography_and_Service_2023 has been loaded. 
file_name_Providers_Service_2023 = 'MUP_PHY_R25_P05_V20_D23_Prov_Svc.csv'
df_2023 = pd.read_csv(file_name_Providers_Service_2023, low_memory=False)

# Here we are adding column (year) to our 2023's dataset
df_2023['Year'] = 2023

#Here seeing the column names and first 3 rows.
df_2023.head(3)

,Rndrng_NPI,Rndrng_Prvdr_Last_Org_Name,Rndrng_Prvdr_First_Name,Rndrng_Prvdr_MI,Rndrng_Prvdr_Crdntls,Rndrng_Prvdr_Ent_Cd,Rndrng_Prvdr_St1,Rndrng_Prvdr_St2,Rndrng_Prvdr_City,Rndrng_Prvdr_State_Abrvtn,...,HCPCS_Drug_Ind,Place_Of_Srvc,Tot_Benes,Tot_Srvcs,Tot_Bene_Day_Srvcs,Avg_Sbmtd_Chrg,Avg_Mdcr_Alowd_Amt,Avg_Mdcr_Pymt_Amt,Avg_Mdcr_Stdzd_Amt,Year
0,1003000126,Enkeshafi,Ardalan,NaN,M.D.,I,6410 Rockledge Dr Ste 304,NaN,Bethesda,MD,...,N,F,12,12.0,12,250.226667,89.062500,60.312500,54.669167,2023
1,1003000126,Enkeshafi,Ardalan,NaN,M.D.,I,6410 Rockledge Dr Ste 304,NaN,Bethesda,MD,...,N,F,22,22.0,22,318.581818,130.312727,99.380000,98.429545,2023
2,1003000126,Enkeshafi,Ardalan,NaN,M.D.,I,6410 Rockledge Dr Ste 304,NaN,Bethesda,MD,...,N,F,76,127.0,127,95.732283,54.820157,43.557323,38.748661,2023

In [3]:
#Here we are creating a dataframe for the year 2019
#We can consider the dataframe (df_2019) as a table where all the data from Geography_and_Service_2019 has been loaded. 
file_name_Providers_Service_2019 = 'MUP_PHY_R25_P04_V10_D19_Prov_Svc.csv'
df_2019 = pd.read_csv(file_name_Providers_Service_2019, low_memory=False)

# Here we are adding column (year) to our 2019's dataset
df_2019['Year'] = 2019

#Here seeing the column names and first 3 rows.
df_2019.head(3)

,Rndrng_NPI,Rndrng_Prvdr_Last_Org_Name,Rndrng_Prvdr_First_Name,Rndrng_Prvdr_MI,Rndrng_Prvdr_Crdntls,Rndrng_Prvdr_Ent_Cd,Rndrng_Prvdr_St1,Rndrng_Prvdr_St2,Rndrng_Prvdr_City,Rndrng_Prvdr_State_Abrvtn,...,HCPCS_Drug_Ind,Place_Of_Srvc,Tot_Benes,Tot_Srvcs,Tot_Bene_Day_Srvcs,Avg_Sbmtd_Chrg,Avg_Mdcr_Alowd_Amt,Avg_Mdcr_Pymt_Amt,Avg_Mdcr_Stdzd_Amt,Year
0,1003000126,Enkeshafi,Ardalan,NaN,M.D.,I,900 Seton Dr,NaN,Cumberland,MD,...,N,F,40,40.0,40,232.275000,72.59000,57.870000,58.19175,2019
1,1003000126,Enkeshafi,Ardalan,NaN,M.D.,I,900 Seton Dr,NaN,Cumberland,MD,...,N,F,25,25.0,25,712.800000,186.72520,148.851600,147.77000,2019
2,1003000126,Enkeshafi,Ardalan,NaN,M.D.,I,900 Seton Dr,NaN,Cumberland,MD,...,N,F,24,24.0,24,320.166667,101.12125,80.615833,80.81000,2019

In [4]:
#Here we are doing concatenation which means, combining two dataframes (df_2023, df_2019) and creating a new dataframe (df),
#which we can consider as a new table 
df = pd.concat([df_2023, df_2019], axis=0)

# df.head() this function only shows the first 5 rows
df.head()

,Rndrng_NPI,Rndrng_Prvdr_Last_Org_Name,Rndrng_Prvdr_First_Name,Rndrng_Prvdr_MI,Rndrng_Prvdr_Crdntls,Rndrng_Prvdr_Ent_Cd,Rndrng_Prvdr_St1,Rndrng_Prvdr_St2,Rndrng_Prvdr_City,Rndrng_Prvdr_State_Abrvtn,...,HCPCS_Drug_Ind,Place_Of_Srvc,Tot_Benes,Tot_Srvcs,Tot_Bene_Day_Srvcs,Avg_Sbmtd_Chrg,Avg_Mdcr_Alowd_Amt,Avg_Mdcr_Pymt_Amt,Avg_Mdcr_Stdzd_Amt,Year
0,1003000126,Enkeshafi,Ardalan,NaN,M.D.,I,6410 Rockledge Dr Ste 304,NaN,Bethesda,MD,...,N,F,12,12.0,12,250.226667,89.062500,60.312500,54.669167,2023
1,1003000126,Enkeshafi,Ardalan,NaN,M.D.,I,6410 Rockledge Dr Ste 304,NaN,Bethesda,MD,...,N,F,22,22.0,22,318.581818,130.312727,99.380000,98.429545,2023
2,1003000126,Enkeshafi,Ardalan,NaN,M.D.,I,6410 Rockledge Dr Ste 304,NaN,Bethesda,MD,...,N,F,76,127.0,127,95.732283,54.820157,43.557323,38.748661,2023
3,1003000126,Enkeshafi,Ardalan,NaN,M.D.,I,6410 Rockledge Dr Ste 304,NaN,Bethesda,MD,...,N,F,180,341.0,341,194.441525,86.840762,69.086422,61.812258,2023
4,1003000126,Enkeshafi,Ardalan,NaN,M.D.,I,6410 Rockledge Dr Ste 304,NaN,Bethesda,MD,...,N,F,53,79.0,79,251.454051,127.915190,100.943165,92.409114,2023

In [5]:
#Here we will be doing the data cleaning part. The columns below have $ and , which we need to remove. 
#Otherwise it will be considered as a string. We need this step to define the data type for our SQL table.

# cols_to_clean = ['Tot_Rndrng_Prvdrs', 'Tot_Benes', 'Tot_Srvcs', 'Tot_Bene_Day_Srvcs', 'Avg_Sbmtd_Chrg',
#                  'Avg_Mdcr_Alowd_Amt', 'Avg_Mdcr_Pymt_Amt', 'Avg_Mdcr_Stdzd_Amt' ]

# for col in cols_to_clean:
#     df[col] = df[col].str.replace('$', '', regex=False)
#     df[col] = df[col].str.replace(',', '', regex=False)

#here we are printing the top five rows just to check if the $ and commas have been removed or or not. 
#And after running the cell we will see it does
# df[0:5]

In [6]:
#Here just seeing the column names. To finally make sure if we have all the columns.
df.columns

Index(['Rndrng_NPI', 'Rndrng_Prvdr_Last_Org_Name', 'Rndrng_Prvdr_First_Name',
       'Rndrng_Prvdr_MI', 'Rndrng_Prvdr_Crdntls', 'Rndrng_Prvdr_Ent_Cd',
       'Rndrng_Prvdr_St1', 'Rndrng_Prvdr_St2', 'Rndrng_Prvdr_City',
       'Rndrng_Prvdr_State_Abrvtn', 'Rndrng_Prvdr_State_FIPS',
       'Rndrng_Prvdr_Zip5', 'Rndrng_Prvdr_RUCA', 'Rndrng_Prvdr_RUCA_Desc',
       'Rndrng_Prvdr_Cntry', 'Rndrng_Prvdr_Type',
       'Rndrng_Prvdr_Mdcr_Prtcptg_Ind', 'HCPCS_Cd', 'HCPCS_Desc',
       'HCPCS_Drug_Ind', 'Place_Of_Srvc', 'Tot_Benes', 'Tot_Srvcs',
       'Tot_Bene_Day_Srvcs', 'Avg_Sbmtd_Chrg', 'Avg_Mdcr_Alowd_Amt',
       'Avg_Mdcr_Pymt_Amt', 'Avg_Mdcr_Stdzd_Amt', 'Year'],
      dtype='object')

In [7]:
#Before defining the data type, 
#if we run this cell we will see, the datatypes for the columns are not showing correctly
#But after running cell [197], we will run this cell again and make sure all the datatypes are correctly added or not

pd.set_option('display.max_columns', None)  # Show all columns
# print(df.dtypes)
print(df.dtypes.to_string())

Rndrng_NPI                         int64
Rndrng_Prvdr_Last_Org_Name        object
Rndrng_Prvdr_First_Name           object
Rndrng_Prvdr_MI                   object
Rndrng_Prvdr_Crdntls              object
Rndrng_Prvdr_Ent_Cd               object
Rndrng_Prvdr_St1                  object
Rndrng_Prvdr_St2                  object
Rndrng_Prvdr_City                 object
Rndrng_Prvdr_State_Abrvtn         object
Rndrng_Prvdr_State_FIPS           object
Rndrng_Prvdr_Zip5                 object
Rndrng_Prvdr_RUCA                float64
Rndrng_Prvdr_RUCA_Desc            object
Rndrng_Prvdr_Cntry                object
Rndrng_Prvdr_Type                 object
Rndrng_Prvdr_Mdcr_Prtcptg_Ind     object
HCPCS_Cd                          object
HCPCS_Desc                        object
HCPCS_Drug_Ind                    object
Place_Of_Srvc                     object
Tot_Benes                          int64
Tot_Srvcs                        float64
Tot_Bene_Day_Srvcs                 int64
Avg_Sbmtd_Chrg                   float64
Avg_Mdcr_Alowd_Amt               float64
Avg_Mdcr_Pymt_Amt                float64
Avg_Mdcr_Stdzd_Amt               float64
Year                               int64

In [8]:
#Here by using this format we are defining the datatypes to each of our columns
#If we want to add a string datatype, make sure using 'String'. for float and INT, it will be fine as it is.
df['Rndrng_Prvdr_Last_Org_Name'] = df['Rndrng_Prvdr_Last_Org_Name'].astype('string')
df['Rndrng_Prvdr_First_Name'] = df['Rndrng_Prvdr_First_Name'].astype('string')
df['Rndrng_Prvdr_MI'] = df['Rndrng_Prvdr_MI'].astype('string')
df['Rndrng_Prvdr_Crdntls'] = df['Rndrng_Prvdr_Crdntls'].astype('string')
df['Rndrng_Prvdr_Ent_Cd'] = df['Rndrng_Prvdr_Ent_Cd'].astype('string')
df['Rndrng_Prvdr_St1'] = df['Rndrng_Prvdr_St1'].astype('string')
df['Rndrng_Prvdr_St2'] = df['Rndrng_Prvdr_St2'].astype('string')
df['Rndrng_Prvdr_City'] = df['Rndrng_Prvdr_City'].astype('string')

df['Rndrng_Prvdr_State_Abrvtn'] = df['Rndrng_Prvdr_State_Abrvtn'].astype('string')
df['Rndrng_Prvdr_State_FIPS'] = df['Rndrng_Prvdr_State_FIPS'].astype('string')
# df['Rndrng_Prvdr_Zip5'] = df['Rndrng_Prvdr_Zip5'].astype('int') has K1H8' (which looks like a Canadian postal code)
df['Rndrng_Prvdr_Zip5'] = pd.to_numeric(df['Rndrng_Prvdr_Zip5'], errors='coerce')
df['Rndrng_Prvdr_RUCA_Desc'] = df['Rndrng_Prvdr_RUCA_Desc'].astype('string')
df['Rndrng_Prvdr_Cntry'] = df['Rndrng_Prvdr_Cntry'].astype('string')
df['Rndrng_Prvdr_Type'] = df['Rndrng_Prvdr_Type'].astype('string')
df['Rndrng_Prvdr_Mdcr_Prtcptg_Ind'] = df['Rndrng_Prvdr_Mdcr_Prtcptg_Ind'].astype('string')

df['HCPCS_Cd'] = df['HCPCS_Cd'].astype('string')
df['HCPCS_Desc'] = df['HCPCS_Desc'].astype('string')
df['HCPCS_Drug_Ind'] = df['HCPCS_Drug_Ind'].astype('string')
df['Place_Of_Srvc'] = df['Place_Of_Srvc'].astype('string')

pd.set_option('display.max_columns', None)  # Show all columns
# print(df.dtypes)
print(df.dtypes.to_string())

Rndrng_NPI                                int64
Rndrng_Prvdr_Last_Org_Name       string[python]
Rndrng_Prvdr_First_Name          string[python]
Rndrng_Prvdr_MI                  string[python]
Rndrng_Prvdr_Crdntls             string[python]
Rndrng_Prvdr_Ent_Cd              string[python]
Rndrng_Prvdr_St1                 string[python]
Rndrng_Prvdr_St2                 string[python]
Rndrng_Prvdr_City                string[python]
Rndrng_Prvdr_State_Abrvtn        string[python]
Rndrng_Prvdr_State_FIPS          string[python]
Rndrng_Prvdr_Zip5                       float64
Rndrng_Prvdr_RUCA                       float64
Rndrng_Prvdr_RUCA_Desc           string[python]
Rndrng_Prvdr_Cntry               string[python]
Rndrng_Prvdr_Type                string[python]
Rndrng_Prvdr_Mdcr_Prtcptg_Ind    string[python]
HCPCS_Cd                         string[python]
HCPCS_Desc                       string[python]
HCPCS_Drug_Ind                   string[python]
Place_Of_Srvc                    string[python]
Tot_Benes                                 int64
Tot_Srvcs                               float64
Tot_Bene_Day_Srvcs                        int64
Avg_Sbmtd_Chrg                          float64
Avg_Mdcr_Alowd_Amt                      float64
Avg_Mdcr_Pymt_Amt                       float64
Avg_Mdcr_Stdzd_Amt                      float64
Year                                      int64

In [9]:
#The format of the tuple is always (number of rows, number of columns).
# it is Our original dataframe(or consider it as data table which has 537268 rows and 16 columns )
df.shape

(19800875, 29)

In [10]:
#If a cell contains a missing value (like NaN or None), it returns True.
#If a cell contains a valid value, it returns False.
#To understand which column has null value or not we can write this funtion and print. 
#(We might need to understand this when we will decide to write query/ might need to handle null values).

import numpy as np

# replace empty strings with NaN
df.replace('', np.nan, inplace=True)

# check columns with any nulls
null_columns = df.columns[df.isnull().any()]
print("Columns with null values:", null_columns.tolist())

# count of nulls per column
print(df.isnull().sum()[df.isnull().sum() > 0])

Columns with null values: ['Rndrng_Prvdr_First_Name', 'Rndrng_Prvdr_MI', 'Rndrng_Prvdr_Crdntls', 'Rndrng_Prvdr_St2', 'Rndrng_Prvdr_State_FIPS', 'Rndrng_Prvdr_Zip5', 'Rndrng_Prvdr_RUCA', 'Rndrng_Prvdr_RUCA_Desc']
Rndrng_Prvdr_First_Name      973111
Rndrng_Prvdr_MI             6519525
Rndrng_Prvdr_Crdntls        1872561
Rndrng_Prvdr_St2           14045435
Rndrng_Prvdr_State_FIPS        6109
Rndrng_Prvdr_Zip5               195
Rndrng_Prvdr_RUCA             13704
Rndrng_Prvdr_RUCA_Desc        13704
dtype: int64

In [11]:
# Provider basic info
provider_cols = [
    'Rndrng_NPI', 'Rndrng_Prvdr_Last_Org_Name', 'Rndrng_Prvdr_First_Name', 'Rndrng_Prvdr_MI',
    'Rndrng_Prvdr_Crdntls', 'Rndrng_Prvdr_Ent_Cd', 'Year'
]

# Provider Address
address_cols = [
    'Rndrng_NPI', 'Rndrng_Prvdr_St1', 'Rndrng_Prvdr_St2', 'Rndrng_Prvdr_City',
    'Rndrng_Prvdr_State_Abrvtn', 'Rndrng_Prvdr_Zip5', 'Rndrng_Prvdr_Cntry'
]
# Ruca
ruca_cols = [
    'Rndrng_Prvdr_RUCA', 'Rndrng_Prvdr_RUCA_Desc'
]

# State
state_cols = [
    'Rndrng_Prvdr_State_Abrvtn', 'Rndrng_Prvdr_State_FIPS'
]
# Provider Classification
classification_cols = [
    'Rndrng_NPI', 'Rndrng_Prvdr_RUCA','Rndrng_Prvdr_Type', 'Rndrng_Prvdr_Mdcr_Prtcptg_Ind', 'Year'
]

# HCPCS Table
hcpcs_cols = [
    'HCPCS_Cd', 'HCPCS_Desc', 'HCPCS_Drug_Ind', 'Place_Of_Srvc'
]

# Benefit Service and Amount Costs per provider
benefit_service_amount_cols = [
    'Rndrng_NPI', 'HCPCS_Cd', 'Year', 'Tot_Benes', 'Tot_Srvcs',
    'Tot_Bene_Day_Srvcs', 'Avg_Sbmtd_Chrg', 'Avg_Mdcr_Alowd_Amt',
    'Avg_Mdcr_Pymt_Amt', 'Avg_Mdcr_Stdzd_Amt'
]

# drop duplicated Rndrng_NPI, which is our primary key, only if year is the same, because we have data from year 2019 and 2023
df_provider = df[provider_cols].drop_duplicates(subset=['Rndrng_NPI', 'Year']).reset_index(drop=True)
df_address = df[address_cols].drop_duplicates(subset=['Rndrng_NPI']).reset_index(drop=True)
df_ruca = df[ruca_cols].drop_duplicates(subset=['Rndrng_Prvdr_RUCA']).reset_index(drop=True)
df_state = df[state_cols].drop_duplicates(subset=['Rndrng_Prvdr_State_Abrvtn']).reset_index(drop=True)
df_classification = df[classification_cols].drop_duplicates(subset=['Rndrng_NPI', 'Year']).reset_index(drop=True)
df_hcpcs = df[hcpcs_cols].drop_duplicates(subset=['HCPCS_Cd']).reset_index(drop=True)
df_benefit_service_amount = df[benefit_service_amount_cols].drop_duplicates(subset=['Rndrng_NPI', 'Year', 'HCPCS_Cd']).reset_index(drop=True)

In [12]:
# Export each DataFrame to CSV
df_provider.to_csv("provider1.csv", index=False)
df_address.to_csv("provider_address1.csv", index=False)
df_ruca.to_csv('ruca1.csv', index=False)
df_state.to_csv('state1.csv', index=False)
df_classification.to_csv("provider_classification1.csv", index=False)
df_hcpcs.to_csv("hcpcs_codes.csv", index=False)
df_benefit_service_amount.to_csv("provider_benefit_service_amounts.csv", index=False)

print("All normalized tables exported successfully!")

All normalized tables exported successfully!

In [13]:
# export the combined df (has data from 2019 adn 2023 to double check row count is same across all tables)
# df.to_csv('providers_service_all_data.csv', index=False)
# print("All fully combined table with 2019 and 2023 exported successfully!")