In [1]:
#we are using pandas for data manipulation. It is a powerful library for handling structured data. Otherwise,
#  we would have to write a lot of code! .
import pandas as pd

In [2]:
#Here we are creating a dataframe for the year 2023
#We can consider the dataframe (df_2023) as a table where all the data from Geography_and_Service_2023 has been loaded. 
file_name_Geography_2023 = 'MUP_PHY_R25_P05_V20_D23_Geo.csv'
df_2023 = pd.read_csv(file_name_Geography_2023, low_memory=False)

# Here we are adding column (year) to our 2023's dataset
df_2023['Year'] = 2023

#Here seeing the column names and first 3 rows.
df_2023.head(3)

,Rndrng_Prvdr_Geo_Lvl,Rndrng_Prvdr_Geo_Cd,Rndrng_Prvdr_Geo_Desc,HCPCS_Cd,HCPCS_Desc,HCPCS_Drug_Ind,Place_Of_Srvc,Tot_Rndrng_Prvdrs,Tot_Benes,Tot_Srvcs,Tot_Bene_Day_Srvcs,Avg_Sbmtd_Chrg,Avg_Mdcr_Alowd_Amt,Avg_Mdcr_Pymt_Amt,Avg_Mdcr_Stdzd_Amt,Year
0,National,NaN,National,0001A,Intramuscular administration of single severe ...,N,O,297,707,712.0,712,53.148778,39.570042,39.570042,40.118652,2023
1,National,NaN,National,0001F,Heart failure composite,N,O,8,32,66.0,66,0.497273,0.490000,0.380000,0.380000,2023
2,National,NaN,National,0001U,Red blood cell typing,N,O,8,85,85.0,85,1156.054588,612.414353,612.414353,681.907059,2023

In [3]:
#Here we are creating a dataframe for the year 2019
#We can consider the dataframe (df_2019) as a table where all the data from Geography_and_Service_2019 has been loaded. 
file_name_Geography_2019 = 'MUP_PHY_R21_P04_V10_D19_Geo.csv'
df_2019 = pd.read_csv(file_name_Geography_2019, low_memory=False)

# Here we are adding column (year) to our 2019's dataset
df_2019['Year'] = 2019

#Here seeing the column names and first 3 rows.
df_2019.head(3)

,Rndrng_Prvdr_Geo_Lvl,Rndrng_Prvdr_Geo_Cd,Rndrng_Prvdr_Geo_Desc,HCPCS_Cd,HCPCS_Desc,HCPCS_Drug_Ind,Place_Of_Srvc,Tot_Rndrng_Prvdrs,Tot_Benes,Tot_Srvcs,Tot_Bene_Day_Srvcs,Avg_Sbmtd_Chrg,Avg_Mdcr_Alowd_Amt,Avg_Mdcr_Pymt_Amt,Avg_Mdcr_Stdzd_Amt,Year
0,National,NaN,National,0003M,"Liver disease, ten biochemical assays (alt, a2...",N,O,12,41,42.0,42,680.547143,438.211667,438.211667,447.513571,2019
1,National,NaN,National,0005U,Test for detecting genes associated with prost...,N,O,1,539,540.0,540,795.000000,744.800000,744.800000,744.800000,2019
2,National,NaN,National,00100,Anesthesia for procedure on salivary gland wit...,N,F,9574,8232,12019.0,12016,1959.508126,237.038887,187.543443,186.430696,2019

In [4]:
#Here we are doing concatenation which means, combining two dataframes (df_2023, df_2019) and creating a new dataframe (df),
#which we can consider as a new table 
df = pd.concat([df_2023, df_2019], axis=0)

# df.head() this function only shows the first 5 rows
df.head()

,Rndrng_Prvdr_Geo_Lvl,Rndrng_Prvdr_Geo_Cd,Rndrng_Prvdr_Geo_Desc,HCPCS_Cd,HCPCS_Desc,HCPCS_Drug_Ind,Place_Of_Srvc,Tot_Rndrng_Prvdrs,Tot_Benes,Tot_Srvcs,Tot_Bene_Day_Srvcs,Avg_Sbmtd_Chrg,Avg_Mdcr_Alowd_Amt,Avg_Mdcr_Pymt_Amt,Avg_Mdcr_Stdzd_Amt,Year
0,National,NaN,National,0001A,Intramuscular administration of single severe ...,N,O,297,707,712.0,712,53.148778,39.570042,39.570042,40.118652,2023
1,National,NaN,National,0001F,Heart failure composite,N,O,8,32,66.0,66,0.497273,0.490000,0.380000,0.380000,2023
2,National,NaN,National,0001U,Red blood cell typing,N,O,8,85,85.0,85,1156.054588,612.414353,612.414353,681.907059,2023
3,National,NaN,National,0002A,Intramuscular administration of single severe ...,N,O,205,376,381.0,381,54.250000,38.754016,38.754016,39.196457,2023
4,National,NaN,National,0003A,Intramuscular administration of single severe ...,N,O,170,943,946.0,946,80.121638,40.764239,40.764239,40.393531,2023

In [5]:
#Here we will be doing the data cleaning part. The columns below have $ and , which we need to remove. 
#Otherwise it will be considered as a string. We need this step to define the data type for our SQL table.

# cols_to_clean = ['Tot_Rndrng_Prvdrs', 'Tot_Benes', 'Tot_Srvcs', 'Tot_Bene_Day_Srvcs', 'Avg_Sbmtd_Chrg',
#                  'Avg_Mdcr_Alowd_Amt', 'Avg_Mdcr_Pymt_Amt', 'Avg_Mdcr_Stdzd_Amt' ]

# for col in cols_to_clean:
#     df[col] = df[col].str.replace('$', '', regex=False)
#     df[col] = df[col].str.replace(',', '', regex=False)

#here we are printing the top five rows just to check if the $ and commas have been removed or or not. 
#And after running the cell we will see it does
# df[0:5]

In [6]:
#Here just seeing the column names. To finally make sure if we have all the columns.
df.columns

Index(['Rndrng_Prvdr_Geo_Lvl', 'Rndrng_Prvdr_Geo_Cd', 'Rndrng_Prvdr_Geo_Desc',
       'HCPCS_Cd', 'HCPCS_Desc', 'HCPCS_Drug_Ind', 'Place_Of_Srvc',
       'Tot_Rndrng_Prvdrs', 'Tot_Benes', 'Tot_Srvcs', 'Tot_Bene_Day_Srvcs',
       'Avg_Sbmtd_Chrg', 'Avg_Mdcr_Alowd_Amt', 'Avg_Mdcr_Pymt_Amt',
       'Avg_Mdcr_Stdzd_Amt', 'Year'],
      dtype='object')

In [7]:
#Before defining the data type, 
#if we run this cell we will see, the datatypes for the columns are not showing correctly
#But after running cell [197], we will run this cell again and make sure all the datatypes are correctly added or not

pd.set_option('display.max_columns', None)  # Show all columns
# print(df.dtypes)
print(df.dtypes.to_string())

Rndrng_Prvdr_Geo_Lvl      object
Rndrng_Prvdr_Geo_Cd       object
Rndrng_Prvdr_Geo_Desc     object
HCPCS_Cd                  object
HCPCS_Desc                object
HCPCS_Drug_Ind            object
Place_Of_Srvc             object
Tot_Rndrng_Prvdrs          int64
Tot_Benes                  int64
Tot_Srvcs                float64
Tot_Bene_Day_Srvcs         int64
Avg_Sbmtd_Chrg           float64
Avg_Mdcr_Alowd_Amt       float64
Avg_Mdcr_Pymt_Amt        float64
Avg_Mdcr_Stdzd_Amt       float64
Year                       int64

In [8]:
#Here by using this format we are defining the datatypes to each of our columns
#If we want to add a string datatype, make sure using 'String'. for float and INT, it will be fine as it is.
df['Rndrng_Prvdr_Geo_Lvl'] = df['Rndrng_Prvdr_Geo_Lvl'].astype('string')
df['Rndrng_Prvdr_Geo_Cd'] = df['Rndrng_Prvdr_Geo_Cd'].astype('string')
df['Rndrng_Prvdr_Geo_Desc'] = df['Rndrng_Prvdr_Geo_Desc'].astype('string')
df['HCPCS_Cd'] = df['HCPCS_Cd'].astype('string')
df['HCPCS_Desc'] = df['HCPCS_Desc'].astype('string')
df['HCPCS_Drug_Ind'] = df['HCPCS_Drug_Ind'].astype('string')
df['Place_Of_Srvc'] = df['Place_Of_Srvc'].astype('string')

pd.set_option('display.max_columns', None)  # Show all columns
# print(df.dtypes)
print(df.dtypes.to_string())

Rndrng_Prvdr_Geo_Lvl     string[python]
Rndrng_Prvdr_Geo_Cd      string[python]
Rndrng_Prvdr_Geo_Desc    string[python]
HCPCS_Cd                 string[python]
HCPCS_Desc               string[python]
HCPCS_Drug_Ind           string[python]
Place_Of_Srvc            string[python]
Tot_Rndrng_Prvdrs                 int64
Tot_Benes                         int64
Tot_Srvcs                       float64
Tot_Bene_Day_Srvcs                int64
Avg_Sbmtd_Chrg                  float64
Avg_Mdcr_Alowd_Amt              float64
Avg_Mdcr_Pymt_Amt               float64
Avg_Mdcr_Stdzd_Amt              float64
Year                              int64

In [10]:
import numpy as np
import pandas as pd

# Mapping
us_state_abbrev = {
    'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR',
    'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE',
    'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID',
    'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS',
    'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD',
    'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS',
    'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV',
    'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY',
    'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK',
    'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC',
    'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT',
    'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV',
    'Wisconsin': 'WI', 'Wyoming': 'WY'
}

valid_states = set(us_state_abbrev.keys())

# Keep only rows with valid U.S. states
df = df[df['Rndrng_Prvdr_Geo_Desc'].str.strip().str.title().isin(valid_states)].copy()

# Function to map state names to abbreviations
def extract_state_abbr(geo_desc):
    if pd.isna(geo_desc):
        return np.nan
    geo_desc_clean = geo_desc.strip().title()
    return us_state_abbrev.get(geo_desc_clean, np.nan)

# Apply function to create abbreviation column
df['Rndrng_Prvdr_State_Abrvtn'] = df['Rndrng_Prvdr_Geo_Desc'].apply(extract_state_abbr)

In [11]:
df.head()

,Rndrng_Prvdr_Geo_Lvl,Rndrng_Prvdr_Geo_Cd,Rndrng_Prvdr_Geo_Desc,HCPCS_Cd,HCPCS_Desc,HCPCS_Drug_Ind,Place_Of_Srvc,Tot_Rndrng_Prvdrs,Tot_Benes,Tot_Srvcs,Tot_Bene_Day_Srvcs,Avg_Sbmtd_Chrg,Avg_Mdcr_Alowd_Amt,Avg_Mdcr_Pymt_Amt,Avg_Mdcr_Stdzd_Amt,Year,Rndrng_Prvdr_State_Abrvtn
13383,State,01,Alabama,0003A,Intramuscular administration of single severe ...,N,O,5,12,12.0,12,40.000000,38.000000,38.000000,40.690000,2023,AL
13384,State,01,Alabama,0004A,Intramuscular administration of single severe ...,N,O,6,17,17.0,17,42.675882,36.628824,36.628824,40.690000,2023,AL
13385,State,01,Alabama,00100,Anesthesia for procedure on saliva gland,N,F,147,110,178.0,178,1982.501910,166.923708,130.746517,136.312191,2023,AL
13386,State,01,Alabama,00103,Anesthesia for procedure on eyelid,N,F,368,1276,2170.0,2169,905.843641,93.807249,72.513599,75.152968,2023,AL
13387,State,01,Alabama,00104,Anesthesia for electroshock therapy,N,F,267,106,2161.0,2161,508.926603,55.163369,43.254836,44.947899,2023,AL

In [12]:
#The format of the tuple is always (number of rows, number of columns).
# it is Our original dataframe(or consider it as data table which has 537268 rows and 16 columns )
df.shape

(500721, 17)

In [13]:
#If a cell contains a missing value (like NaN or None), it returns True.
#If a cell contains a valid value, it returns False.
#To understand which column has null value or not we can write this funtion and print. 
#(We might need to understand this when we will decide to write query/ might need to handle null values).

import numpy as np

# replace empty strings with NaN
df.replace('', np.nan, inplace=True)

# check columns with any nulls
null_columns = df.columns[df.isnull().any()]
print("Columns with null values:", null_columns.tolist())

# count of nulls per column
print(df.isnull().sum()[df.isnull().sum() > 0])

Columns with null values: []
Series([], dtype: int64)

In [14]:
# Geography Table
geography_cols = [
   'Rndrng_Prvdr_State_Abrvtn','Rndrng_Prvdr_Geo_Cd', 'Rndrng_Prvdr_Geo_Lvl', 'Rndrng_Prvdr_Geo_Desc'
]

# HCPCS Table
hcpcs_cols = [
    'HCPCS_Cd', 'HCPCS_Desc', 'HCPCS_Drug_Ind', 'Place_Of_Srvc'
]

# Benefit Service and Amount Costs per state
benefit_service_amount_cols = [
    'Rndrng_Prvdr_State_Abrvtn', 'HCPCS_Cd', 'Year', 'Tot_Rndrng_Prvdrs',
    'Tot_Benes', 'Tot_Srvcs', 'Tot_Bene_Day_Srvcs', 'Avg_Sbmtd_Chrg',
    'Avg_Mdcr_Alowd_Amt', 'Avg_Mdcr_Pymt_Amt', 'Avg_Mdcr_Stdzd_Amt'
]

# drop duplicates
df_geography = df[geography_cols].drop_duplicates(subset=['Rndrng_Prvdr_State_Abrvtn']).reset_index(drop=True)
df_hcpcs = df[hcpcs_cols].drop_duplicates(subset=['HCPCS_Cd']).reset_index(drop=True)
df_benefit_service_amount = df[benefit_service_amount_cols].drop_duplicates(subset=['Rndrng_Prvdr_State_Abrvtn', 'Year']).reset_index(drop=True)

In [15]:
# Export each DataFrame to CSV
df_geography.to_csv('geography.csv', index=False)
df_hcpcs.to_csv('hcpcs_codes1.csv', index=False)
df_benefit_service_amount.to_csv('state_providers_benefit_service_amounts.csv', index=False)

print("All normalized tables exported successfully!")

All normalized tables exported successfully!

In [ ]:
# export the combined df (has data from 2019 adn 2023 to double check row count is same across all tables)
# df.to_csv('geography_all_data.csv', index=False)
# print("All fully combined table with 2019 and 2023 exported successfully!")